a {
    text-decoration: none;
    color: black;
}
ion-icon {
    pointer-events: none;
}
#user_icon {
    font-size: 24px;
}
#info_icon {
    font-size: 15px;
}
/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}
nav .navbar-brand .red {
    color: #ea433b;
}
nav .navbar-brand .yellow {
    color: #f5b82e;
}
nav .navbar-brand .purple {
    color: #da58df;
}
nav .navbar-brand .green {
    color: #047c5e;
}
.topright {
    position: absolute;
    top: 90px;
    right: 16px;
}

table tr:hover {
    background-color: #ddd;
}
