{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <br>
    <h6 class="fw-light topright">Available credit: {{ user_credit | usd }}</h6>
    <br>
    <h5 class="fw-light">Buy shares</p>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control fw-light mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control fw-light mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="text">
        </div>
        <button class="btn btn-primary fw-light" type="submit">Buy</button>
    </form>
{% endblock %}