{% extends "layout.html" %}

{% block title %}
    Your stock wallet
{%  endblock %}

{% block main %}
    <div class="table-responsive">
    <h4 class="fw-light">Open positions</h4>
    <br>
        <table class="table">
            <thead class="align-top table-dark">
                <tr>
                    <th class="text-start" scope="col">#</th>
                    <th class="text-start" scope="col">Symbol</th>
                    <th class="text-start" scope="col">Name</th>
                    <th class="text-end" scope="col">Shares</th>
                    <th class="text-end" scope="col">Current Price</th>
                    <th class="text-end" scope="col">Total</th>
                </tr>
            </thead>
            {% if (open_positions | length) > 0 %}
                {% set counter = [1] %}
                {% for row in open_positions %}
                    {% if row["shares"] > 0 %}
                        <tr>
                            <td class="text-start">{{ counter | length }}</td>
                            {% set var = counter.append(1) %}
                            <td class="text-start">{{ row["symbol"] | upper }}</td>
                            <td class="text-start">{{ row["name"] }}</td>
                            <td class="text-end">{{ row["shares"] }}</td>
                            {% for item in current_prices %}
                                    {% if item  == row["symbol"] %}
                                        <td class="text-end">{{ current_prices.get(item) | usd }}</td>
                                        <td class="text-end">{{ (row["shares"] * current_prices.get(item)) | usd }}</td>
                                    {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr> 
                    <td colspan="6" class="text-center">You don't have any open positions</td>
                </tr>
            {% endif %}
        </table>
        <br>
        <div class="table-responsive">
            <table class="table table-light">
                <tr>
                    <td class="text-start">Available cash:</td>
                    <td class="text-start">{{cash | usd}}</td>
                    <td class="text-start">Portfolio total:
                        <span>
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Available cash plus total of open positions"><ion-icon id="info_icon" name="information-circle-outline"></ion-icon></a>
                        </span>
                    </td>
                    <td class="text-start">{{ total | usd }}</td>
                </tr>
                <tr>
                    <td class="text-start">Locked cash:</td>
                    <td class="text-start">{{ locked | usd }}
                </tr>
            </table>
        <div>
    </div>

{% endblock %}