{% extends "layout.html" %}

{% block title %}
    Get stock’s current price
{% endblock %}

{% block main %}
    <br>
    <h6 class="fw-light topright">Available credit: {{ user_credit | usd }}</h6>
    <br>
    <h5 class="fw-light">Get quote of a stock</h5>
    <br>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control fw-light mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <button class="btn btn-primary fw-light" type="submit">Get quote</button>
    </form>
{% endblock %}