{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <ul class="fw-light list-unstyled">             
        <li>Password must be at least 8 characters long.</li>
        <li>Password must not be longer than 18 characters.</li>
        <li>Password must contain at least one upper case and one lower case letter.</li>
        <li>Password must contain at least one number or a special sign(!, @, #, $, %, ^, &, *, (, ), -, _ ).</li>
    </ul>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Repeat" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}